<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <link rel="stylesheet" type="text/css" href="static/stylesheets/about.css">
</head>


<body>
    <!--NavBar -->
    <div class="navbar" id="top">
        <ul>
            <li><a href="#top"> Zoo Name </a></li>
            <li><a href="#members"> Membership </a></li>
            <li><a href="#tickets"> Tickets </a></li>
            <li><a href="#visit"> Visit Us </a></li>
            <li><a href="#animals"> Animals </a></li>
        </ul>
    </div>


    <img src="static/images/about-temp2.jpg" alt="About Us picture">

    <h1 style = "text-align:center">About Us</h1>
    <h1 style = "text-align:left; color:teal">About the Zoo</h1>
    <!----------------Just junk information---------------->
    <p>
        The University of Houston Zoo (UHZ) is the zoo currently maintained by the University of Houston (UH).
        The UHZ is as diverse as the UH student population.
        With over 1,000 happy residents who hail from many parts of the world the UHZ is surely a wonderful place for the family to enjoy.
    <br><br>
    </p>
    <h1 style = "text-align:left; color:teal">Mission Statement</h1>
    <p>
        Simple! To provide a wonderfully fun learning experience!
    <br><br>
    </p>


    <table border="1px">
        <thead>
        <tr>
            <th style="font-size:35px; color:teal" colspan="2">About Our Team</th>
        </tr>
        </thead>
        <tbody>
            <!---we can add something that provides a little summary for the member where the link leads to---->
            <tr>
                <td>
                    <a href="https://www.google.com">Chirag Ghanshani</a>
                </td>
                <td>Team Leader</td>
            </tr>

            <tr>
                <td>
                    <a href="https://www.google.com">Khoi Pham</a>
                </td>
                <td>Team Member</td>
            </tr>

            <tr>
                <td>
                    <a href="https://www.google.com">Ana Hernandez</a>
                </td>
                <td>Team Member</td>
            </tr>

            <tr>
                <td>
                    <a href="https://www.google.com">Josef Lamell</a>
                </td>
                <td>Team Member</td>
            </tr>

            <tr>
                <td>
                    <a href="https://www.google.com">David Jimenez</a>
                </td>
                <td>Team Member</td>
            </tr>
        </tbody>
    </table>


</body>
</html>