<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animals</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <!--Icons-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="static/stylesheets/animals.css">
    <script src="static/javascripts/cookieManagement.js"></script>

</head>


<body onload="addTab();">
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <!--Customer-->
            <li><a id="customer" href="#"></a>
                <ul>
                    <li><a href="/editInfo">Edit Info</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/shoppingCart">Cart</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Keeper/Vet-->
            <li><a id="keepVet" href="#"></a>
                <ul>
                    <li><a href="/yourAnimals">Your Animals</a></li>
                    <li><a href="/feedingfGraphs">Animal Reports</a></li>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Manager-->
            <li><a id="manager" href="#"></a>
                <ul>
                    <li><a href="/manageEmployees">Manage Employees</a></li>
                    <li><a href="/salesOverview">Sales Overview</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a id='login' href="/login">Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>


    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/animals-1.jpg" alt="Macaws flying">
    </div>

    <p class="header">Our Animals</p>
    <div class="des">
        <p>Preview some of our most iconic animal species by type. <br>
            We have more than 2,248 animals and 353 species that come from many parts of the world. Our animal's health is our priority.
            We take pride in taking excellent care of all of our animals needs.
        </p>
    </div>


    <table>
        <tr>
            <td><i class="fa fa-star" aria-hidden="true"></i> Keeper Spotlight <i class="fa fa-star" aria-hidden="true"></i><br>
                Our keepers do a great job at feeding and providing enrichment for all our animals. <br>
                Animals in nature have to work for a living – to find food, to make nests, and to find shelter. Our keepers use enrichment to create variety through work and play, using
                items and activities that are safe and encourage natural behaviors. <br>
                The staff begins work at 6 am, preparing and delivering meals to the animals they are responsible for. This includes thawing meats, chopping produce, sorting insects,
                and loading bales of hay and bags of grain. Each animals dietary needs are taken into account when preparing meals. Diets are developed by a speciallist in exotic animal nutrition,
                and are constantly monitored to ensure optimal health. <br>
            </td>
            <td><img src="static/images/zookeeper.jpg" alt="Zookeeper"></td>
        </tr>
        <tr>
            <td><img src="static/images/vet.jpg" alt="Zoo vet"></td>
            <td><i class="fa fa-star" aria-hidden="true"></i> Vet Spoolight <i class="fa fa-star" aria-hidden="true"></i><br>
                The vets and support staff at the our Zoo work hard every day to ensure the health of every single one of our animals. <br>
                Animals receive routine exams, and given vaccinations to prevent disease. Physicals exams, including analyzing blood for various health levels,
                dental exams and teeth cleaning, testing for illnesses, and banking blood serum or plasma for future needs.
                When an animal becomes ill, diagnostic testing, x-rays and surgery are provided by our vets.
            </td>
        </tr>
    </table>

</body>

<footer>
    <div class="row">

        <div class="col-4 f-design">
            <span style="color: mediumvioletred; font-size:13pt; text-align: right;"><br> <span style="padding-left: 20px;"> ACCREDITED BY</span></span> <br>
            <img width="200" height="120" src="http://i1042.photobucket.com/albums/b422/txusa50/FotoFlexer_Photo_zpsgzmxbj4s.jpg">
        </div>

        <div class="col-4 f-design2">
            <!--<span style="color: mediumvioletred; font-size: 13pt; text-align: center;"><br><span style="padding-left:75px;"></span>CONNECT</span><br>-->
            <a href="https://www.twitter.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/twitterInWhitesmoke_zpsltnzcg8l.jpg"></a>
            <a href="http://www.facebook.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/facebookInWhitesmoke_zps7w78u6xe.jpg"></a>
            <a href="http://www.pinterest.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/pinterestInWhitesmoke_zpsdjjdajjt.jpg"></a>
            <a href="http://www.youtube.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/youtubeInwhitesmoke_zpseknlp7s5.jpg"></a>
            <a href="http://www.instagram.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/instagramInWhitesmoke_zpszsrboowz.jpg"></a>
        </div>

        <div class="col-4 f-design3">
            <span style="color: mediumvioletred; font-size: 13pt;"><br>OUR LOCATION</span><br>
            <span style="color: midnightblue; font-size: 14pt; font-family: Ubuntu, sans-serif;">The Hu-manatee Zoo<br>
            4800 Calhoun Rd.<br>
            Houston, TX 77004<br>
            (713) 743-1010</span>
        </div>

    </div>
</footer>
</html>