<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animals</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <!--Icons-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="static/stylesheets/animals.css">

</head>


<body>
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/"> Hu-manatee Zoo </a></li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/animals-1.jpg" alt="Chameleon Picture">
    </div>

    <p class="header">Our Animals</p>
    <div class="des">
        <p>Preview some of our most iconic animal species by type. <br>
            We have more than 2,248 animals and 353 species that come from many parts of the world. Our animal's health is our priority.
            We take pride in taking excellent care of all of our animals needs.
        </p>
    </div>


    <table>
        <tr>
            <td><i class="fa fa-star" aria-hidden="true"></i> Keeper Spotlight <i class="fa fa-star" aria-hidden="true"></i><br>
                Our keepers do a great job at feeding and providing enrichment for all our animals. <br>
                Animals in nature have to work for a living – to find food, to make nests, and to find shelter. Our keepers use enrichment to create variety through work and play, using
                items and activities that are safe and encourage natural behaviors. <br>
                The staff begins work at 6 am, preparing and delivering meals to the animals they are responsible for. This includes thawing meats, chopping produce, sorting insects,
                and loading bales of hay and bags of grain. Each animals dietary needs are taken into account when preparing meals. Diets are developed by a speciallist in exotic animal nutrition,
                and are constantly monitored to ensure optimal health. <br>
            </td>
            <td><img src="static/images/zookeeper.jpg" alt="Zookeeper"></td>
        </tr>
        <tr>
            <td><img src="static/images/vet.jpg" alt="Zoo vet"></td>
            <td><i class="fa fa-star" aria-hidden="true"></i> Vet Spoolight <i class="fa fa-star" aria-hidden="true"></i><br>
                The vets and support staff at the our Zoo work hard every day to ensure the health of every single one of our animals. <br>
                Animals receive routine exams, and given vaccinations to prevent disease. Physicals exams, including analyzing blood for various health levels,
                dental exams and teeth cleaning, testing for illnesses, and banking blood serum or plasma for future needs.
                When an animal becomes ill, diagnostic testing, x-rays and surgery are provided by our vets.
            </td>
        </tr>
    </table>





</body>
</html>