<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animals</title>


    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/animals.css">
</head>


<body>
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/"> Zoo Name </a></li>
            <li><a href="/members"> Membership </a>
                <ul>
                    <li><a href="#">Benefits</a></li>
                    <li><a href="#">Levels</a></li>
                    <li><a href="#">Join</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li for="hours" class="active"><a href="#">Hours & Location</a></li>
                    <li for="tickets"><a href="#">Buy Tickets</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a></li>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/animals-1.jpg" alt="Chameleon Picture">
    </div>


</body>
</html>