<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aquatic Animals</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <!--Icons-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/stylesheets/animalInfo.css">
    <script src="static/javascripts/cookieManagement.js"></script>

    <script>
        //Show-hide text function
        function toggle2(showHideDiv, switchTextDiv) {
            var ele = document.getElementById(showHideDiv);
            var text = document.getElementById(switchTextDiv);
            if(ele.style.display == "block") {
                ele.style.display = "none";
                text.innerHTML = "More info";
            }
            else {
                ele.style.display = "block";
                text.innerHTML = "Hide";
            }
        }
    </script>
</head>


<body onload="addTab();">
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <!--Customer-->
            <li><a id="customer" href="#"></a>
                <ul>
                    <li><a href="#">Edit Info</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="/shoppingCart">Cart</a></li>
                </ul>
            </li>
            <!--Keeper/Vet-->
            <li><a id="keepVet" href="#"></a>
                <ul>
                    <li><a href="#">Your Animals</a></li>
                    <li><a href="#">Animal Reports</a></li>
                </ul>
            </li>
            <!--Manager-->
            <li><a id="manager" href="#"></a>
                <ul>
                    <li><a href="#">Manage Employees</a></li>
                    <li><a href="#">Sales Overview</a></li>
                </ul>
            </li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/animals-1.jpg" alt="Chameleon Picture">
    </div>


    <p class="header">Aquatic Animals</p>

    <!--ROW 1-->
    <div class="row">
        <div class="col-4">
            <figure class="a-img">
                <img src="static/images/seahorse.jpg" alt="Lined Seahorse">
                <figcaption>
                    <p class="name">LINED SEAHORSE</p>
                    <table>
                        <tr>
                            <td><i class="fa fa-flask" aria-hidden="true"></i> Hippocampus erectus</td>
                            <td><i class="fa fa-hourglass-half" aria-hidden="true"></i> 2 - 6 years</td>
                            <td><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Vulnerable</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-cutlery" aria-hidden="true"></i> Small crustaceans</td>
                            <td><i class="fa fa-globe" aria-hidden="true"></i> Atlantic coastline</td>
                            <td><i class="fa fa-tree" aria-hidden="true"></i> Coral reefs, seagrass beds</td>
                        </tr>
                    </table>
                    <i class="fa fa-heart" aria-hidden="true"></i>Seahorses give birth to anywhere from five to 2,500 young at a time.
                    <a class="moreLink" id="A11" href="javascript:toggle2('M11', 'A11');">More Info</a>
                </figcaption>
                <br>
                <figcaption class="moreInfo" id="M11">The seahorse is one of the most unique looking fish found in the ocean. It has a prehensile tail used to hold on to sea grass and coral. Seahorses have a voracious appetite and will eat for up to 10 hours a day; consuming more than 3,000 crustaceans during that time. Seahorses are monogamous, and will usually have one mate during their lifetime. During a mating dance the female will pass eggs to the male. He will then hold the fertilized eggs in his pouch until they emerge about 20 days later as miniature versions of an adult. Juvenile seahorses will reach maturity in 8-10 months. Seahorses are at risk due to overfishing and habitat degradation. </figcaption>
            </figure>
        </div>

        <div class="col-4">
            <figure class="a-img">
                <img src="static/images/octopus.jpg" alt="Giant-Pacific Octopus">
                <figcaption>
                    <p class="name">GIANT-PACIFIC OCTOPUS</p>
                    <table>
                        <tr>
                            <td><i class="fa fa-flask" aria-hidden="true"></i> Enteroctopus dofleini</td>
                            <td><i class="fa fa-hourglass-half" aria-hidden="true"></i> 3 - 5 years</td>
                            <td><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Unknown </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-cutlery" aria-hidden="true"></i> Crabs</td>
                            <td><i class="fa fa-globe" aria-hidden="true"></i> Pacific Ocean</td>
                            <td><i class="fa fa-tree" aria-hidden="true"></i> Intertidal zone to depths of nearly 2,500 feet</td>
                        </tr>
                    </table>
                    <i class="fa fa-heart" aria-hidden="true"></i> Females only reproduce once in their lifetime.
                    <a class="moreLink" id="A21" href="javascript:toggle2('M21', 'A21');">More Info</a>
                    <br>
                </figcaption>
                <figcaption class="moreInfo" id="M21">The octopus is well known for being a master of disguise and is able to blend into pretty much any background using its elaborate camouflage. The octopus not only uses this to its advantage for both hiding from potential prey and predators, but it is also thought to play a role in the male octopuses mating display, in order to attract a female octopus.</figcaption>
            </figure>
        </div>

        <div class="col-4">
            <figure class="a-img">
                <img src="static/images/clownfish.jpg" alt="Clownfish">
                <figcaption>
                    <p class="name">CLOWNFISH </p>
                    <table>
                        <tr>
                            <td><i class="fa fa-flask" aria-hidden="true"></i> Amphiprion percula</td>
                            <td><i class="fa fa-hourglass-half" aria-hidden="true"></i> 3 - 6 years</td>
                            <td><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Stable </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-cutlery" aria-hidden="true"></i> Algae, worms and small crustaceans </td>
                            <td><i class="fa fa-globe" aria-hidden="true"></i> Western Pacific and Indian Oceans, Red Sea</td>
                            <td><i class="fa fa-tree" aria-hidden="true"></i> Coral reefs</td>
                        </tr>
                    </table>
                    <i class="fa fa-heart" aria-hidden="true"></i>All clownfish are born male.
                    <a class="moreLink" id="A13" href="javascript:toggle2('M13', 'A13');">More Info</a>
                    <br>
                </figcaption>
                <figcaption class="moreInfo" id="M13">This family of fish is also known as anemonefish because of the symbiotic relationship they have with sea anemones. The clownfish brings food to the anemone in exchange for protection. By building up a protective mucous coating, the clownfish is immune to the stinging cells of the anemone. The clownfish makes its home within the anemone’s tentacles, enjoying protection from predators; in return, the anemone gets to eat the leftovers from the clownfish’s meals and the clownfish helps keep the anemone clean.</figcaption>
            </figure>
        </div>
    </div>


    <!--ROW 2-->
    <div class="row">
        <div class="col-4">
            <figure class="a-img">
                <img src="static/images/lionfish.jpg" alt="Lionfish">
                <figcaption>
                    <p class="name">LIONFISH</p>
                    <table>
                        <tr>
                            <td><i class="fa fa-flask" aria-hidden="true"></i> Pterois volitans</td>
                            <td><i class="fa fa-hourglass-half" aria-hidden="true"></i> 10 - 18 years</td>
                            <td><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Stable</td>

                        </tr>
                        <tr>
                            <td><i class="fa fa-cutlery" aria-hidden="true"></i> Aquatic invertebrates and fish</td>
                            <td><i class="fa fa-globe" aria-hidden="true"></i> Western Pacific</td>
                            <td><i class="fa fa-tree" aria-hidden="true"></i> Tropical reefs and rocky crevices</td>
                        </tr>
                    </table>
                    <i class="fa fa-heart" aria-hidden="true"></i>During the day, they hide in unexposed places and they hunt at night.
                    <a class="moreLink" id="A12" href="javascript:toggle2('M12', 'A12');">More Info</a>
                </figcaption>
                <br>
                <figcaption class="moreInfo" id="M12">The venomous lionfish uses its 18 needle-like dorsal fins to defend itself. Its sting can be very painful to humans. Lionfish will live in small groups as juveniles and while mating, however they are solitary as adults. They are nocturnal and get most of their food within the first hour of the night. When the sun comes up in the morning they will retreat to their homes in reef crevices. </figcaption>
            </figure>
        </div>

        <div class="col-4">
            <figure class="a-img">
                <img src="static/images/stingray.jpg" alt="White-blotched stingray">
                <figcaption>
                    <p class="name">WHITE-BLOTCHED STINGRAY </p>
                    <table>
                        <tr>
                            <td><i class="fa fa-flask" aria-hidden="true"></i> Potamotrygon leopoldi </td>
                            <td><i class="fa fa-hourglass-half" aria-hidden="true"></i> 20 - 25 years</td>
                            <td><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Unknown </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-cutlery" aria-hidden="true"></i> Shrimp, small crustaceans </td>
                            <td><i class="fa fa-globe" aria-hidden="true"></i> Xingu River Basin in Brazil </td>
                            <td><i class="fa fa-tree" aria-hidden="true"></i> Rocky river bottoms</td>
                        </tr>
                    </table>
                    <i class="fa fa-heart" aria-hidden="true"></i>It is believed that these blotches are meant to resemble the sun hitting the bottom of the rivers in which these rays live, to help them camouflage.
                    <a class="moreLink" id="A22" href="javascript:toggle2('M22', 'A22');">More Info</a>
                    <br>
                </figcaption>
                <figcaption class="moreInfo" id="M22">Its large pup litter size also makes this species unique. The white-blotched river stingray has an average of seven to eight pups per litter but can have as many as 12, compared to the average four-pup litter size for other stingrays varieties. </figcaption>
            </figure>
        </div>



        <div class="col-4">
            <figure class="a-img">
                <img src="static/images/shark.jpg" alt="Blacktip shark">
                <figcaption>
                    <p class="name">BLACKTIP REEF SHARK </p>
                    <table>
                        <tr>
                            <td><i class="fa fa-flask" aria-hidden="true"></i>Carcharhinus melanopterus</td>
                            <td><i class="fa fa-hourglass-half" aria-hidden="true"></i> 10 - 12 years</td>
                            <td><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Stable </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-cutlery" aria-hidden="true"></i> Crustaceans, reef fish and mollusks</td>
                            <td><i class="fa fa-globe" aria-hidden="true"></i> Coastlines of Pacific regions</td>
                            <td><i class="fa fa-tree" aria-hidden="true"></i> Near reefs and drop-off zones</td>
                        </tr>
                    </table>
                    <i class="fa fa-heart" aria-hidden="true"></i> These sharks sometimes jump fully out of the water during feeding frenzies.
                    <a class="moreLink" id="A23" href="javascript:toggle2('M23', 'A23');">More Info</a>
                    <br>
                </figcaption>
                <figcaption class="moreInfo" id="M23">The Blacktip Reef shark is named for the characteristic black tips on its dorsal and caudal fins. It has a short, round snout and angled, saw-like teeth. Its white belly and dark back allow it to camouflage with the dim seafloor and the brighter ocean surface. </figcaption>
            </figure>
        </div>
    </div>
</body>
</html>