<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Info</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/editInfo.css">
    <script src="static/javascripts/cookieManagement.js"></script>
    <script src="static/javascripts/loginScript.js"></script>

</head>

<body onload="addTab();getUserData();">
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <!--Customer-->
            <li><a id="customer" href="#"></a>
                <ul>
                    <li><a href="/editInfo">Edit Info</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/shoppingCart">Cart</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Keeper/Vet-->
            <li><a id="keepVet" href="#"></a>
                <ul>
                    <li><a href="/yourAnimals">Your Animals</a></li>
                    <li><a href="/feedingfGraphs">Animal Reports</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Manager-->
            <li><a id="manager" href="#"></a>
                <ul>
                    <li><a href="/manageEmployees">Manage Employees</a></li>
                    <li><a href="/salesOverview">Sales Overview</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a id='login' href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/animals-1.jpg" alt="Macaws flying">
    </div>

    <p class="header">Account Information</p>

    <table>
        <tr>
            <td>Member ID:</td>
            <td id="membership_id"></td>
            <td></td>
        </tr>

        <tr>
            <td>Name: </td>
            <td id="customer_firstName"></td>
            <td id="customer_LastName"></td>
            <td><a href="">Edit</a></td>
        </tr>

        <tr>
            <td>Date of birth: </td>
            <td id="customer_DOB"></td>
            <td><a href="">Edit</a></td>
        </tr>

        <tr>
            <td>Address:</td>
            <td id="customer_streetAddress"></td>
            <td id="customer_city"></td>
            <td id="customer_state"></td>
            <td id="customer_zipCode"></td>
            <td><a href="">Edit</a></td>
        </tr>

        <tr>
            <td>Email: </td>
            <td id="customer_email"></td>
            <td><a href="">Edit</a></td>
        </tr>

        <tr>
            <td>Phone number: </td>
            <td id="customer_phoneNumber"></td>
            <td><a href="">Edit</a></td>
        </tr>
    </table>










    <!--<h2>Please enter your credentials</h2>-->
    <!--<a class="close" href="#">&times;</a>-->
    <!--<div class="content">-->
        <!--<div class="module">-->
            <!--<label for="Username">Username:</label>-->
            <!--<input id="Username" type="username">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="email">Email Address:</label>-->
            <!--<input id="email" type="email">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="pw">Password:</label>-->
            <!--<input id="pw" name="pass" type="password">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="pw2">Confirm Password:</label>-->
            <!--<input id="pw2" type="password">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="fn">First Name:</label>-->
            <!--<input id="fn" name="first" type="text">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="ln">Last Name:</label>-->
            <!--<input id="ln" type="text">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="phone">Phone Number:</label>-->
            <!--<input id="phone" type="text" placeholder="xxx-xxx-xxxx">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="dob">Date of Birth:</label>-->
            <!--<input id="dob" type="date">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="address">Street Address:</label>-->
            <!--<input id="address" type="text">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="zip">Zipcode (5-digit):</label>-->
            <!--<input id="zip" type="text">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="city">City:</label>-->
            <!--<input id="city" type="text">-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<label for="state">State:</label>-->
            <!--<select id="state">-->
                <!--<option value="0">AL</option>-->
                <!--<option value="1">AK</option>-->
                <!--<option value="2">AZ</option>-->
                <!--<option value="3">AR</option>-->
                <!--<option value="4">CA</option>-->
                <!--<option value="5">CO</option>-->
                <!--<option value="6">CT</option>-->
                <!--<option value="7">DE</option>-->
                <!--<option value="8">FL</option>-->
                <!--<option value="9">GA</option>-->
                <!--<option value="10">HI</option>-->
                <!--<option value="11">ID</option>-->
                <!--<option value="12">IL</option>-->
                <!--<option value="13">IN</option>-->
                <!--<option value="14">IA</option>-->
                <!--<option value="15">KS</option>-->
                <!--<option value="16">KY</option>-->
                <!--<option value="17">LA</option>-->
                <!--<option value="18">ME</option>-->
                <!--<option value="19">MD</option>-->
                <!--<option value="20">MA</option>-->
                <!--<option value="21">MI</option>-->
                <!--<option value="22">MN</option>-->
                <!--<option value="23">MS</option>-->
                <!--<option value="24">MO</option>-->
                <!--<option value="25">MT</option>-->
                <!--<option value="26">NE</option>-->
                <!--<option value="27">NV</option>-->
                <!--<option value="28">NH</option>-->
                <!--<option value="29">NJ</option>-->
                <!--<option value="30">NM</option>-->
                <!--<option value="31">NY</option>-->
                <!--<option value="32">NC</option>-->
                <!--<option value="33">ND</option>-->
                <!--<option value="34">OH</option>-->
                <!--<option value="35">OK</option>-->
                <!--<option value="36">OR</option>-->
                <!--<option value="37">PA</option>-->
                <!--<option value="38">RI</option>-->
                <!--<option value="39">SC</option>-->
                <!--<option value="40">SD</option>-->
                <!--<option value="41">TN</option>-->
                <!--<option value="42">TX</option>-->
                <!--<option value="43">UT</option>-->
                <!--<option value="44">VT</option>-->
                <!--<option value="45">VA</option>-->
                <!--<option value="46">WA</option>-->
                <!--<option value="47">WV</option>-->
                <!--<option value="48">WI</option>-->
                <!--<option value="49">WY</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <!--<button type="button"-->
            <!--onclick="addCustomer()">Submit-->
    <!--</button>-->








</body>
</html>