<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>

    <link rel="stylesheet" type="text/css" href="static/stylesheets/events.css">
</head>


<body>
<!--NavBar -->
<nav class="navbar" id="top">
    <ul>
        <li><a href="#top" class="title"> Hu-manatee Zoo </a></li>
        <!--Customer-->
        <li><a id="name" href="#"></a>
            <ul id="customer">
                <li><a href="#">Edit Info</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="/shoppingCart">Cart</a></li>
            </ul>
        </li>
        <!--Keeper/Vet-->
        <li><a href="#"></a>
            <ul id="keepVet">
                <li><a href="#">Your Animals</a></li>
                <li><a href="#">Animal Reports</a></li>
            </ul>
        </li>
        <!--Manager-->
        <li><a href="#"></a>
            <ul id="manager">
                <li><a href="#">Manage Employees</a></li>
                <li><a href="#">Sales Overview</a></li>
            </ul>
        </li>
        <li><a href="#members"> Membership </a></li>
        <li><a href="#visit"> Visit Us </a></li>
        <li><a href="#animals"> Animals </a></li>
    </ul>
</nav>

<div class="imageContainer">
    <img class ="fillWidth" src="static/images/Lion.jpg" alt="Chameleon Picture">
</div>

<h1 style = "text-align:center; color:mediumvioletred; font-family: Ubuntu, sans-serif;"><pre>Events at the Hu-manatee Zoo</pre></h1>


<table border="1px">
    <col width = "500px">
    <col width = "500px">

    <thead>
    <tr>
        <th style="font-size:35px; color:deepskyblue; font-family: 'AR BERKLEY'; border-collapse: collapse;" colspan="2">Upcoming Events</th>
    </tr>
    </thead>
    <tbody>
    <!---we can add something that provides a little summary for the member where the link leads to---->
    <tr>
        <td>Children's Day</td>
        <td> May 21, 2016</td>

    </tr>

    <tr>
        <td>Parent's Day</td>
        <td>May 30, 2016</td>

    </tr>

    <tr>
        <td>Days of June</td>
        <td>All the Month of June</td>

    </tr>

    <tr>
        <td>Fourth of July Celebration</td>
        <td>July 4, 2016</td>
    </tr>

    <tr>
        <td>Lion Celebration Day</td>
        <td>July 16, 2016</td>

    </tr>

    <tr>
        <td>Customer Appreciation Day</td>
        <td>July 29, 2016</td>

    </tr>

    <tr>
        <td>Upcoming School Days</td>
        <td>August 16, 2016</td>

    </tr>
    </tbody>
</table>

<h3><strong>Children's Day</strong>: A day to celebrate our little visitors</h3><br>
<h3><strong>Parent's Day</strong>: A day to celebrate the visitors who are parents</h3><br>
<h3><strong>Days of June</strong>: Celebrate the month of June</h3><br>
<h3><strong>Fourth of July Celebration</strong>: Celebrate our Fourth of July with us</h3><br>
<h3><strong>Lion Celebration Day</strong>: Celebrate the coolness of the lions</h3><br>
<h3><strong>Customer Appreciation Day</strong>: We appreciate all our customers; half off!</h3><br>
<h3><strong>Upcoming School Days</strong>: School is coming around the corner, relax at the zoo</h3><br>

</body>

<footer>
    <!--
    <div class="contact">
      <p>(713) 743-1010 </p>
      <p> getintouch@hu-manateezoo.com</p>
      <p>4800 Calhoun Rd. Houston, TX 77004</p>
    </div>

      <a href="/about">About Us</a>
      <span style="float: right">
        <a href="https://www.instagram.com/universityofhouston/"><i style="color: brown" class="fa fa-instagram fa-lg"></i></a>
        <a href="https://twitter.com/UHouston?lang=en"><i style="color: deepskyblue" class="fa fa-twitter fa-lg"></i></a>
        <a href="https://www.facebook.com/universityofhouston/"><i style="color: blue" class="fa fa-facebook-square fa-lg"></i></a>
        <a href="https://www.pinterest.com/univofhouston/"><i style="color: red" class="fa fa-pinterest fa-lg"></i></a>
      </span>
    -->

    <div class="row">
        <div class="col-4 f-design">
            <span style="color: mediumvioletred; font-size:13pt; text-align: right;"><br> <span style="padding-left: 20px;"> ACCREDITED BY</span></span> <br>
            <img width="200" height="120" src="http://i1042.photobucket.com/albums/b422/txusa50/FotoFlexer_Photo_zpsgzmxbj4s.jpg">
        </div>

        <div class="col-4 f-design2">
            <span style="color: mediumvioletred; font-size: 13pt; text-align: center;"><br><span style="padding-left:75px;"></span>CONNECT</span><br>
            <a href="https://www.twitter.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/twitterInWhitesmoke_zpsltnzcg8l.jpg"></a>
            <a href="http://www.facebook.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/facebookInWhitesmoke_zps7w78u6xe.jpg"></a>
            <a href="http://www.pinterest.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/pinterestInWhitesmoke_zpsdjjdajjt.jpg"></a>
            <a href="http://www.youtube.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/youtubeInwhitesmoke_zpseknlp7s5.jpg"></a>
            <a href="http://www.instagram.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/instagramInWhitesmoke_zpszsrboowz.jpg"></a>
        </div>

        <div class="col-4 f-design3">
            <span style="color: mediumvioletred; font-size: 13pt;"><br>OUR LOCATION</span><br>
          <span style="color: #0b97c4; font-size: 14pt; font-family: Ubuntu, sans-serif;">The Hu-manatee Zoo<br>
          4800 Calhoun Rd.<br>
          Houston, TX 77004<br>
          (713) 743-1010</span>
        </div>
    </div>


</footer>
</html>
