<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="static/stylesheets/about.css">
</head>




<body>
<!--NavBar -->
<nav class="navbar" id="top">
    <ul>
        <li><a href="#top" class="title"> Hu-manatee Zoo </a></li>
        <!--Customer-->
        <li><a id="name" href="#"></a>
            <ul id="customer">
                <li><a href="#">Edit Info</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="/shoppingCart">Cart</a></li>
            </ul>
        </li>
        <!--Keeper/Vet-->
        <li><a href="#"></a>
            <ul id="keepVet">
                <li><a href="#">Your Animals</a></li>
                <li><a href="#">Animal Reports</a></li>
            </ul>
        </li>
        <!--Manager-->
        <li><a href="#"></a>
            <ul id="manager">
                <li><a href="#">Manage Employees</a></li>
                <li><a href="#">Sales Overview</a></li>
            </ul>
        </li>
        <li><a href="#members"> Membership </a></li>
        <li><a href="#visit"> Visit Us </a></li>
        <li><a href="#animals"> Animals </a></li>
    </ul>
</nav>

<table border = "1px">
    <col width = "500px">
    <col width = "600px">
    <col width = "500px">

    <th>Events at the Zoo</th>
    <tr>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
    </tr>
    <tr>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
    </tr>
</table>

</body>
</html>