<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hu-manatee Zoo</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--fonts-->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

  <!--Icons-->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="static/stylesheets/index.css">
  <script src="static/javascripts/cookieManagement.js"></script>

  <!--Enables page scroll-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>
    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>

</head>

<body onload="addTab();">

  <!--NavBar -->
  <nav class="navbar" id="top">
    <ul>
      <li><a href="#top" class="title"> Hu-manatee Zoo </a></li>
      <!--Customer-->
      <li><a id="customer" href="/editInfo"></a></li>
      <!--Keeper/Vet-->
      <li><a id="keepVet" href="/yourAnimals"></a></li>
      <!--Manager-->
      <li><a id="manager" href="/manageEmployees"></a></li>
      <!--Login-->
      <li><a id="login" href="/login">Log in</a></li>
      <li><a href="#members"> Membership </a></li>
      <li><a href="#visit"> Visit Us </a></li>
      <li><a href="#animals"> Animals </a></li>
    </ul>
  </nav>

  <!--Video -->
  <div id="video-container">
    <video id="bgVid" class="fillWidth" loop muted autoplay >
      <source src="static/images/test2.mp4" type="video/mp4">
    </video>
  </div>


  <!-- Animals Section-->
  <div id="animals" class="animalSection">
    <p class="header"><a href="/animals">Animals</a></p>
    <h2 align="center"></h2>
    <!--MIGHT USE TABLE FOR THIS INSTEAD-->
    <ul id="onHover">
      <li><img src="static/images/RedPanda.jpg" alt="Red Panda"><p>Red Panda</p></li>
      <li><img src="static/images/LionCubs.jpg" alt="Lion cubs"></li>
      <li><img src="static/images/Gorilla.jpg" alt="Gorilla"></li>
      <li><img src="static/images/Giraffe2.jpg" alt="Giraffe"></li>
      <li><img src="static/images/Elephants.jpg" alt="Elephants"></li>
    </ul>

    <!--<div class="row animals">-->
    <!--<div class="col-2">-->
    <!--<li><img src="static/images/RedPanda.jpg" alt="Red Panda"></li>-->
    <!--</div>-->
    <!--<div class="col-2">-->
    <!--<li><img src="static/images/LionCubs.jpg" alt="Lion cubs"></li>-->
    <!--</div>-->
    <!--<div class="col-2">-->
    <!--<li><img src="static/images/Gorilla.jpg" alt="Gorilla"></li>-->
    <!--</div>-->
    <!--<div class="col-2">-->
    <!--<li><img src="static/images/Giraffe2.jpg" alt="Giraffe"></li>-->
    <!--</div>-->
    <!--<div class="col-2">-->
    <!--<li><img src="static/images/Elephants.jpg" alt="Elephants"></li>-->
    <!--</div>-->
    <!--</div>-->
  </div>

  <!-- Visit Us Section-->
  <div id="visit" class="visitSection">
    <p class="header"><a href="/visit">Visit Us</a></p>
    <div class="row">
      <!--Hours & events-->
      <div class="col-6 hours">
        <ul>
          <li><h3 id="date"></h3></li>
          <li>Open: 9 am Close: 6 pm</li>
          <li>Last Entry: 5 pm</li>
          <br><br>
          <ul>
            <li><h3>Ticket Information</h3></li>
            <li>Adults 12-64: $15</li>
            <li>Children under 12: $10</li>
            <li>Children under 2: FREE</li>
            <li>Senior 65+: $8</li>
            <li>
              <form action="/visit">
                <button>Buy Tickets</button>
              </form>
            </li>
          </ul>
        </ul>
      </div>

      <!--Directions-->
      <div class="col-6 directions">
        <ul>
          <li><img src="static/images/UHmap.png" alt="UH map"></li>
          <li>4800 Calhoun Rd</li>
          <li>Houston, TX 77004</li>
          <li>
            <form action="https://www.google.com/maps/dir//University+of+Houston,+Calhoun+Road,+Houston,+TX/@29.7199443,-95.3772529,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8640be5a8ebea199:0xc9f387eca8247e7!2m2!1d-95.3422334!2d29.7199489" method="get" target="_blank">
              <button>Get Directions</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Member Section -->
  <div id="members" class="memberSection">
    <p class="header"><a href="/memberInfo">Membership</a></p>
    <div class="col-6">
      <ul>
        <li><h3>Become a member today!</h3></li>
        <li>Free admission for 1 full year</li>
        <li>Discounted tickets for guests</li>
        <li>10% off purchases in our gift shop</li>
        <li>Discounts on special events</li>
        <li>and more!</li>
        <li>
          <form action="/login">
            <button>Sign up/Log in</button>
          </form>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li><h3>Membership Levels</h3></li>
        <li>Single $65</li>
        <li>Dual $85</li>
        <li>Family $115</li>
        <li>Family Plus $135</li>
        <li>Grandparent (Senior 65+) $100</li>
        <li><button>Learn more</button></li>
      </ul>
    </div>
  </div>

  <!--Retrieves current date, finds 'date' id and sends it there-->
  <script>
    var today = new Date().toDateString();
    document.getElementById('date').innerHTML = today;
  </script>

</body>




<footer>
  <div class="row">

    <div class="col-4 f-design">
      <span style="color: mediumvioletred; font-size:13pt; text-align: right;"><br> <span style="padding-left: 20px;"> ACCREDITED BY</span></span> <br>
      <img width="200" height="120" src="http://i1042.photobucket.com/albums/b422/txusa50/FotoFlexer_Photo_zpsgzmxbj4s.jpg">
    </div>

    <div class="col-4 f-design2">
      <span style="color: mediumvioletred; font-size: 13pt; text-align: center;"><br><span style="padding-left:75px;"></span>CONNECT</span><br>
      <a href="https://www.twitter.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/twitterInWhitesmoke_zpsltnzcg8l.jpg"></a>
      <a href="http://www.facebook.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/facebookInWhitesmoke_zps7w78u6xe.jpg"></a>
      <a href="http://www.pinterest.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/pinterestInWhitesmoke_zpsdjjdajjt.jpg"></a>
      <a href="http://www.youtube.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/youtubeInwhitesmoke_zpseknlp7s5.jpg"></a>
      <a href="http://www.instagram.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/instagramInWhitesmoke_zpszsrboowz.jpg"></a>
    </div>

    <div class="col-4 f-design3">
      <span style="color: mediumvioletred; font-size: 13pt;"><br>OUR LOCATION</span><br>
          <span style="color: #0b97c4; font-size: 14pt; font-family: Ubuntu, sans-serif;">The Hu-manatee Zoo<br>
          4800 Calhoun Rd.<br>
          Houston, TX 77004<br>
          (713) 743-1010</span>
    </div>

  </div>

  </div>
</footer>
</html>
