<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Log in</title>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

    <link rel="stylesheet" type="text/css" href="static/stylesheets/login.css">
    <script src="static/javascripts/cookieManagement.js"></script>

    <script>
        function enterListener(e) {
            if (e.keyCode == 13 || e.which == 13){
                checkLogin();
                return false;
            }
            else return true;
        }

        function checkLogin() {
            var username_in, text;
            var password_in, text;
            username_in = document.getElementById("username").value;
            password_in = document.getElementById("password").value;
            var result = httpGet('login/checkCredentials?ID=' + username_in + '&password=' + password_in);

            if (result.username == 'error') {
                window.alert("Invalid username or password.");
            }

            else {
              setCookie('zooLoginCookie', result, .04);
              document.getElementById('home').click();
            }
        }

        function getCookie(cname) {
          var name = cname + "=";
          var ca = document.cookie.split(';');
          for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
              if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
            }
          return "";
        }

        function setCookie(cookieName, value, expDays){
          var d = new Date();
          d.setTime(d.getTime() + Math.round(expDays * 24 * 60 * 60 * 1000));
          var expires = 'expires='+d.toUTCString();
          document.cookie = 'zooLoginCookie=' + JSON.stringify(value) + ';' + 'path=/;' +
            'name=' + cookieName + ';';
        }

        function addCustomer() {
            var valid = true;
            var address = document.getElementById('address').value;
            var fname = document.getElementById("fn").value;
            var lname = document.getElementById("ln").value;
            var pass = document.getElementById("pw").value;
            var city = document.getElementById("city").value;
            var state = document.getElementById("state").value;
            var zip = document.getElementById("zip").value;
            var phone = document.getElementById("phone").value;
            var uname = document.getElementById("Username").value;
            var dob = document.getElementById("dob").value;
            var email = document.getElementById("email").value;


            /*Here is how to detect which radio button: */
            var x = document.getElementsByName("memberType");
            for(var i=0;i<x.length;i++){
                if(x[i].checked){window.alert(x[i].value);}
            }

            if(document.getElementById("pw").value != document.getElementById("pw2").value) {
                window.alert("Passwords do not match!");
                valid = false;
                console.log("nope");
            }

            if (valid) {
                window.alert("Passes validation!");
                location = "#";
                location.reload(true);
                httpSend('/login/registerUser?username=' + uname + '&password=' + pass + '&firstName=' + fname +
                    '&lastName=' + lname + '&street=' + address + '&city=' + city + '&state=' + state + '&zip=' + zip +
                    '&phone=' + phone + '&dob=' + dob + '&email=' + email.replace('@', '%40'));
            }
        }


        function httpSend(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );

        }

        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return JSON.parse(xmlHttp.responseText);
        }
    </script>



</head>
<body onload="addTab();">
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a id='home' class="title" href="/"> Hu-manatee Zoo </a></li>
            <!--Customer-->
            <li><a id="customer" href="#"></a>
                <ul>
                    <li><a href="#">Edit Info</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="/shoppingCart">Cart</a></li>
                </ul>
            </li>
            <!--Keeper/Vet-->
            <li><a id="keepVet" href="#"></a>
                <ul>
                    <li><a href="#">Your Animals</a></li>
                    <li><a href="#">Animal Reports</a></li>
                </ul>
            </li>
            <!--Manager-->
            <li><a id="manager" href="#"></a>
                <ul>
                    <li><a href="#">Manage Employees</a></li>
                    <li><a href="#">Sales Overview</a></li>
                </ul>
            </li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!--Login Box-->
    <div class ="module" id="login-panel">
        <h1>Log in here!</h1>
        <div class="module" id="user-box">
            <label for="username">Username:</label>
            <input id="username" type="text" onkeypress="return enterListener(event)">
        </div>

        <div class ="module" id="pass-box">
            <label for="password">Password:</label>
            <input id="password" type="password" onkeypress="return enterListener(event)">
        </div>

        <div class="module" id="signup-link">
            <a href="#signup-popup">Don't have an account? Sign up now</a>
        </div>

        <!--Here there be the popup form (the link is just above)-->
        <div id="signup-popup" class="overlay">
            <div class="popup">
                <h2>Please enter your credentials</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <div class="module">
                        <label for="Username">Username:</label>
                        <input id="Username" type="username">
                    </div>
                    <div class="module">
                        <label for="email">Email Address:</label>
                        <input id="email" type="email">
                    </div>
                    <div class="module">
                        <label for="pw">Password:</label>
                        <input id="pw" name="pass" type="password">
                    </div>
                    <div class="module">
                        <label for="pw2">Confirm Password:</label>
                        <input id="pw2" type="password">
                    </div>
                    <div class="module">
                        <label for="fn">First Name:</label>
                        <input id="fn" name="first" type="text">
                    </div>
                    <div class="module">
                        <label for="ln">Last Name:</label>
                        <input id="ln" type="text">
                    </div>
                    <div class="module">
                        <label for="phone">Phone Number (xxx-xxx-xxxx format):</label>
                        <input id="phone" type="text">
                    </div>
                    <div class="module">
                        <label for="dob">Date of Birth:</label>
                        <input id="dob" type="date">
                    </div>
                    <div class="module">
                        <label for="address">Street Address:</label>
                        <input id="address" type="text">
                    </div>
                    <div class="module">
                        <label for="zip">Zipcode (5-digit):</label>
                        <input id="zip" type="text">
                    </div>
                    <div class="module">
                        <label for="city">City:</label>
                        <input id="city" type="text">
                    </div>
                    <div class="module">
                        <label for="state">State:</label>
                        <select id="state">
                          <option value="0">AL</option>
                          <option value="1">AK</option>
                          <option value="2">AZ</option>
                          <option value="3">AR</option>
                          <option value="4">CA</option>
                          <option value="5">CO</option>
                          <option value="6">CT</option>
                          <option value="7">DE</option>
                          <option value="8">FL</option>
                          <option value="9">GA</option>
                          <option value="10">HI</option>
                          <option value="11">ID</option>
                          <option value="12">IL</option>
                          <option value="13">IN</option>
                          <option value="14">IA</option>
                          <option value="15">KS</option>
                          <option value="16">KY</option>
                          <option value="17">LA</option>
                          <option value="18">ME</option>
                          <option value="19">MD</option>
                          <option value="20">MA</option>
                          <option value="21">MI</option>
                          <option value="22">MN</option>
                          <option value="23">MS</option>
                          <option value="24">MO</option>
                          <option value="25">MT</option>
                          <option value="26">NE</option>
                          <option value="27">NV</option>
                          <option value="28">NH</option>
                          <option value="29">NJ</option>
                          <option value="30">NM</option>
                          <option value="31">NY</option>
                          <option value="32">NC</option>
                          <option value="33">ND</option>
                          <option value="34">OH</option>
                          <option value="35">OK</option>
                          <option value="36">OR</option>
                          <option value="37">PA</option>
                          <option value="38">RI</option>
                          <option value="39">SC</option>
                          <option value="40">SD</option>
                          <option value="41">TN</option>
                          <option value="42">TX</option>
                          <option value="43">UT</option>
                          <option value="44">VT</option>
                          <option value="45">VA</option>
                          <option value="46">WA</option>
                          <option value="47">WV</option>
                          <option value="48">WI</option>
                          <option value="49">WY</option>
                        </select>
                    </div>
                </div>
                <button type="button"
                        onclick="addCustomer()">Submit
                </button>
            </div>
        </div>
        <!--(and here endeth the popup form section)-->

        <div class ="module" id="button-box">
            <button type="button"
            onclick="checkLogin()">Log in</button>
        </div>
    </div>

    <!--Background image-->
    <div id="bg">
        <img src="static/images/chameleon.jpg" alt="">
    </div>


<!--Javascript begins here-->

</body>
</html>
