<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Log in</title>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/login.css">

</head>
<body>
<!--NavBar -->
    <div class="navbar" id="top">
        <ul>
            <li><a href="/"> Zoo Name </a></li>
            <li><a href="/#members"> Membership </a></li>
            <li><a href="/#tickets"> Tickets </a></li>
            <li><a href="/#visit"> Visit Us </a></li>
            <li><a href="/#animals"> Animals </a></li>
        </ul>
    </div>

<img src="static/images/chameleon.jpg" alt="">

<label for="username">Username:</label>
<input id="username" type="text">

<label for="password">Password:</label>
<input id="password" type="password">

</body>
</html>