<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Member Info</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/memberInfo.css">

</head>
<body>
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/chameleon.jpg" alt="Chameleon Picture">
    </div>


    <p class="header">Membership Information</p>


    <!--Member Benefits-->
    <div id="benefits">
        <br><br><br>
        <h1>Membership Benefits</h1>
        <br>
        <table>
            <tr>
                <td>&bull; Free admission for 1 full year</td>
                <td>&bull; Discounted tickets for guests</td>
            </tr>
            <tr>
                <td>&bull; Membership is tax deductible</td>
                <td>&bull; Exclusive member events</td>
            </tr>
            <tr>
                <td>&bull; Discounts on special events</td>
                <td>&bull; 10% off purchases in our gift shop</td>
            </tr>
            <tr>
                <td>&bull; Free or discounted admission to over 100 other zoos nationwide</td>
                <td>&bull; Updates on exhibits, special events, and member happenings</td>
            </tr>
        </table>
        <br><br>
    </div>



    <!--Member levels info-->
    <h1>Find the right package for you!</h1>
    <div class="row">
        <div class="col-4">
            <div class="box">
                <p class="levelhead">SINGLE</p>
                <p>$65 + tax</p>
                <p>Member benefits for one adult + one guest</p>
            </div>
        </div>
        <div class="col-4">
            <div class="box">
                <p class="levelhead">DUAL</p>
                <p>$85 + tax</p>
                <p>Member benefits for two adults + one guest</p>
            </div>
        </div>
        <div class="col-4">
            <div class="box">
                <p class="levelhead">SINGLE FAMILY</p>
                <p>$110 + tax</p>
                <p>Member benefits for one adult + eligible children + one guest</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="box">
                <p class="levelhead">FAMILY</p>
                <p>$125 + tax</p>
                <p>Member benefits for two adults + eligible children + one guest</p>
            </div>
        </div>
        <div class="col-4">
            <div class="box">
                <p class="levelhead">FAMILY PLUS</p>
                <p>$145 + tax</p>
                <p>Member benefits for three adults + eligible children + one guest</p>
            </div>
        </div>
        <div class="col-4">
            <div class="box">
                <p class="levelhead">GRANDPARENT</p>
                <p>$100 + tax</p>
                <p>Member benefits for two seniors + eligible children</p>
            </div>
        </div>
    </div>

</body>
</html>