<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Membership</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/members.css">
</head>
<body>
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <li><a href="/members"> Membership </a>
                <ul>
                    <li><a href="#">Benefits</a></li>
                    <li><a href="#">Levels</a></li>
                    <li><a href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li for="hours" class="active"><a href="#">Hours & Location</a></li>
                    <li for="tickets"><a href="#">Buy Tickets</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a></li>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/chameleon.jpg" alt="Chameleon Picture">
    </div>

    <section id="benefits">
        <p class="header">Member Benefits</p>
        <p>Free admission for 1 full year</p>
        <p>Discounted tickets for guests</p>
        <p>Exclusive member events</p>
        <p>Discounts on special events</p>
        <p>10% off purchases in our gift shop</p>
        <p>Membership is tax deductible</p>
        <p>Updates on exhibits, special events, and member happenings</p>
        <p>Free or discounted admission to over 150 zoos and aquariums nationwide</p>
        <br><br>
    </section>

    <section id="levels">
        <p class="header">Membership Levels </p>
        <p>Single: $65 One Adult + One Guest</p>
        <p>Dual: $85 Two Adults + One Guest</p>
        <p>Family: $115 Two Adults + Two Children + One Guest</p>
        <p>Family Plus: $135 Two Adults + Four  Children + Two Guests</p>
        <p>Grandparent (Senior 65+): $100 Two Seniors + Two Children + Two Guests</p>
        <br><br>
    </section>
</body>
</html>