<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Membership</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/memberFAQ.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
//        $(document).ready(function(){
//            $("button").click(function(){
//                $("p").toggle();
//            });
//        });
        function toggle2(showHideDiv, switchTextDiv) {
            var ele = document.getElementById(showHideDiv);
            var text = document.getElementById(switchTextDiv);
            if(ele.style.display == "block") {
                ele.style.display = "none";
            }
            else {
                ele.style.display = "block";
            }
        }
    </script>
</head>


<body>
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="#">Hours & Location</a></li>
                    <li><a href="#">Buy Tickets</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a></li>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/chameleon.jpg" alt="Chameleon Picture">
    </div>

    <p class="header">Membership FAQ</p>
    <br><br>


    <a id="Q1" class="question" href="javascript:toggle2('A1', 'Q1');">WHAT TYPE OF MEMBERSHIP IS BEST FOR ME?</a>
    <div class="answer" id="A1">We offer several levels to fit your needs. Check out our Member Info for more information.</div>
    <br>

    <a id="Q2" class="question" href="javascript:toggle2('A2','Q2');" >WHO IS CONSIDERED AN ELIGIBLE CHILD?</a>
    <p id="A2" class="answer">"Eligible children" are children under age 18 residing in the same household OR the grandchildren of the primary member. Children under age 2 are always admitted free.</p>
    <br>

    <a id="Q3" class="question" href="javascript:toggle2('A3','Q3');" >ARE DISCOUNTS OFFERED ON MEMBERSHIPS?</a>
    <p id="A3" class="answer">Renewing, non-lapsed members receive at $10 discount off their renewal with the code that has been emailed or mailed to them prior to their current membership’s expiration.</p>
    <br>

    <a id="Q4" class="question" href="javascript:toggle2('A4','Q4');" >HOW LONG WILL IT TAKE TO RECEIVE MY MEMBERSHIP CARD?</a>
    <p id="A4" class="answer">You should receive your membership card three weeks after purchase. Your confirmation of purchase can be used as a temporary pass. If you have not received your card contact us at getintouch@hu-maneteeZoo.com</p>
    <br>

    <a id="Q5" class="question" href="javascript:toggle2('A5','Q5');" >WHO MAY I BRING AS A GUEST?</a>
    <p id="A5" class="answer">A guest is anyone ages 2 and older. A guest may only visit with a named member who has a membership card</p>
    <br>

    <a id="Q6" class="question" href="javascript:toggle2('A6','Q6');" >IS IT POSSIBLE TO GET A REFUND ON MY MEMBERSHIP OR TRANSFER IT TO SOMEBODY ELSE?</a>
    <p id="A6" class="answer">Memberships are not transferable and in most cases no refund may be issued. It is assumed that every member will have visited often enough to recoup the cost (2-3 visits) regardless of how recently the membership was purchased.</p>
    <br>

    <a id="Q7" class="question" href="javascript:toggle2('A7','Q7');" >CAN I CHANGE THE NAME ON MY MEMBERSHIP CARD?</a>
    <p id="A7" class="answer">Yes. All issued cards need to be returned and a change request submitted either at the Membership building or through the mail.</p>
    <br>

    <a id="Q8" class="question" href="javascript:toggle2('A8','Q8');" >CAN I UPGRADE MY MEMBERSHIP?</a>
    <p id="A8" class="answer">Memberships may be upgraded at any time during the membership term by paying the difference between the current level and the higher level. Level upgrades do not change the expiration date. </p>
    <br>

    <a id="Q9" class="question" href="javascript:toggle2('A9','Q9');" >WHY MUST EVERYONE BE LISTED ON THE MEMBERSHIP CARD?</a>
    <p id="A9" class="answer">Each membership is designed for a specific set of individuals, not an open-ended admission card. By naming each member we are better able to protect the integrity of the membership program and offer more benefits to our participating members.</p>
    <br>
    
    <a id="Q10" class="question" href="javascript:toggle2('A10','Q10');" >WHAT IS THE TERM OF MY MEMBERSHIP?</a>
    <p id="A10" class="answer">Membership is valid for one full year from the date of purchase.</p>




    <br><br><br>

</body>
</html>