<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Cart</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/shoppingCart.css">
    <script src="static/javascripts/cookieManagement.js"></script>
    <script src="static/javascripts/shoppingCartCookie.js"></script>
</head>


<body onload="addTab();populateCart();">
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <!--Customer-->
            <li><a id="customer" href="#"></a>
                <ul>
                    <li><a href="/editInfo">Edit Info</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/shoppingCart">Cart</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Keeper/Vet-->
            <li><a id="keepVet" href="#"></a>
                <ul>
                    <li><a href="/yourAnimals">Your Animals</a></li>
                    <li><a href="/feedingfGraphs">Animal Reports</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Manager-->
            <li><a id="manager" href="#"></a>
                <ul>
                    <li><a href="/manageEmployees">Manage Employees</a></li>
                    <li><a href="/salesOverview">Sales Overview</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a id='login' href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/chameleon.jpg" alt="Chameleon Picture">
    </div>

    <p class="header">Shopping Cart</p>
    <br>
    

    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Amount</th>
        </tr>
        <tr class="classItems" id="childPurchase">
            <td>Children Tickets </td>
            <td id="child"></td>
            <td id="childPrice"></td>
        </tr>

        <tr class="cartItems" id="adultPurchase">
            <td>Adult Tickets </td>
            <td id="adult"></td>
            <td id="adultPrice"></td>
        </tr>

        <tr class="cartItems" id="seniorPurchase">
            <td>Senior Tickets </td>
            <td id="senior"></td>
            <td id="seniorPrice"></td>
        </tr>
        <tr class="classItems" id="singlePurchase">
            <td>Single Membership </td>
            <td id="single"></td>
            <td id="singlePrice"></td>
        </tr>

        <tr class="cartItems" id="dualPurchase">
            <td>Dual Membership </td>
            <td id="dual"></td>
            <td id="dualPrice"></td>
        </tr>

        <tr class="cartItems" id='singleFamPurchase'>
            <td>Single Family Membership </td>
            <td id="singleFam"></td>
            <td id="singleFamPrice"></td>
        </tr>
        <tr class="classItems" id="familyPurchase">
            <td>Family Membership </td>
            <td id="family"></td>
            <td id="familyPrice"></td>
        </tr>

        <tr class="cartItems" id="famPlusPurchase">
            <td>Family Plus Membership </td>
            <td id="famPlus"></td>
            <td id="famPlusPrice"></td>
        </tr>

        <tr class="cartItems" id="grandparentPurchase">
            <td>Grandparent Membership </td>
            <td id="grandparent"></td>
            <td id="grandparentPrice"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td id="total"></td>
        </tr>
    </table>




    <br><br>

    <div class="buttons">
        <a id="continueShop" href="/shop">Continue Shopping</a>
        <a id="clickCheckOut" href="javascript:completeTransaction();">Check Out</a>
    </div>

    <br><br><br>


</body>
</html>
