<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket Info</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/ticketInfo.css">

</head>
<body>

    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Buy Tickets</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a></li>
            <ul>
                <li><a href="/animals">Animal Info</a></li>
                <li><a href="/ourAnimals">Our animals</a></li>
            </ul>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/visit-1.jpg" alt="Lion Picture">
    </div>

    <p class="header">Ticket Information</p>
    <br> <br>

    <h1>Prices</h1>
    <p>Children under 2: Free</p>
    <p>Children (3-11): $12</p>
    <p>Adult (12-64): $15</p>
    <p>Seniors 65+: $10</p>
    <p>Members: Free</p>
    <br>
    <hr>
    <br> <br> <br>

    <h1>Group Discounts</h1>
    <p>This applies to any non-school group purchasing more than 15 tickets in a single payment.</p>
    <p>Adult (13+) : $13</p>
    <p>Children (2-12) : $10</p>
    <p>Senior (65+) : $8</p>
    <br>
    <hr>
    <br> <br> <br>

    <h1>School Groups</h1>
    <p>Admission is free for organized school groups Monday through Friday. Please call our office to plan your Field Trip Day. </p>
    <br>
    <hr>
    <br> <br> <br>

    <h1>Additional Discounts</h1>
    <p>We offer student, teacher, and military discounts as well.</p>
    <p>You will need to provide a valid ID.</p>
    <br>
    <hr>
    <br> <br> <br>

    <h1>Free Admission Day</h1>
    <p>We offer free admission on the first Monday of every month. You can get your tickets one week in advance by calling our main office.</p>
    <br> <br>

</body>
</html>