<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visit Us</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/visit.css">
    <script src="static/javascripts/cookieManagement.js"></script>
</head>

<body onload="addTab();">
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/"> Hu-manatee Zoo </a></li>
            <!--Customer-->
            <li><a id="customer" href="#"></a>
                <ul>
                    <li><a href="#">Edit Info</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="/shoppingCart">Cart</a></li>
                </ul>
            </li>
            <!--Keeper/Vet-->
            <li><a id="keepVet" href="#"></a>
                <ul>
                    <li><a href="#">Your Animals</a></li>
                    <li><a href="#">Animal Reports</a></li>
                </ul>
            </li>
            <!--Manager-->
            <li><a id="manager" href="#"></a>
                <ul>
                    <li><a href="#">Manage Employees</a></li>
                    <li><a href="#">Sales Overview</a></li>
                </ul>
            </li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>


    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/visit-1.jpg" alt="Lion Picture">
    </div>

    <p class="header">Hours & Location</p>
    <br><br>

    <div class="row">
        <div class="col-6 hours" style="padding-left: 200px">
            <ul>
                <li><p class="sectionhead">Regular Hours</p></li>
                <li>January 2 - March 15  |  9am - 4pm </li>
                <li>March 16 - October 15  |  9am - 6pm</li>
                <li>October 16 - December 31  |  9am - 4pm</li>
            </ul>
        </div>

        <div class="col-6 hours" style="padding-right: 200px">
            <ul>
                <li><p class="sectionhead">Holiday Hours</p></li>
                <li>The zoo will be closed on Thanksgiving Day, Christmas Day, and New Years Day.</li>
                <li>Limited hours for Christmas Eve and New Years Eve.</li>
                <li>Check here for unannounced closings. </li>
            </ul>
        </div>
    </div>

    <br><br>

    <hr>

    <br> <br>
    <div class="row">
        <div class="col-12 location">
            <ul>
                <li><p class="sectionhead">Location</p></li>
                <li>The zoo is located adjacent to the University of Houston.</li>
                <li>4800 Calhoun Rd. Houston, TX 77004</li>
                <li>
                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                    <div style='overflow:hidden;height:400px;width:600px;'>
                        <div id='gmap_canvas' style='height:400px;width:600px;'>  </div>
                        <div>
                            <small><a href="http://embedgooglemaps.com">embed google maps</a></small>
                        </div>
                        <div>
                            <small><a href="http://freedirectorysubmissionsites.com/">free web directories</a></small>
                        </div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
                    </div>
                    <script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(29.7203238,-95.3435187),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(29.7203238,-95.3435187)});infowindow = new google.maps.InfoWindow({content:'<strong>UH Zoo</strong><br>4800 Calhoun Rd. Houston, TX 77004<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
                    </script>
                </li>
            </ul>
        </div>
    </div>

    <br><br><br>



        <!--NEED TO MOVE THIS TO EVENT PAGE-->

        <!--<section id="events">-->
            <!--<h1 id="date"></h1>-->
            <!--<table>-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Start time</th>-->
                        <!--<th>Event</th>-->
                    <!--</tr>-->
                <!--</thead>-->

                <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td>10:00 am</td>-->
                        <!--<td>Elephant Bath at the Elephant Barn</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td>11:00 am</td>-->
                        <!--<td>Meet the Keeper Talk at the Children’s Zoo</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td>12:00 pm</td>-->
                        <!--<td>Meet the Keeper Talk at Gorillas in African Forest</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td>1:00 pm</td>-->
                        <!--<td>Giraffe Feeding Platform in African Forest (Dependent on Weather/Giraffes)</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td>2:00 pm</td>-->
                        <!--<td>Meet the Aquarium Keeper at the Piranha Exhibit in Natural Encounters</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td>3:00 pm</td>-->
                        <!--<td>Meet the Keeper Talk at Patas Monkey in Wortham World of Primates</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td>4:00 pm</td>-->
                        <!--<td>Meet the Keeper Sail Fin Lizard Talk at the Indoor Rainforest in Natural Encounters</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->



<!--Javascript starts here-->
    <script>
        var today = new Date().toDateString();
        document.getElementById('date').innerHTML = 'Events for ' + today
    </script>



</body>
</html>