<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visit Us</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/visit.css">
    <script src="static/javascripts/cookieManagement.js"></script>
</head>

<body onload="addTab();">
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <!--Customer-->
            <li><a id="customer" href="#"></a>
                <ul>
                    <li><a href="/editInfo">Edit Info</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/shoppingCart">Cart</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Keeper/Vet-->
            <li><a id="keepVet" href="#"></a>
                <ul>
                    <li><a href="/yourAnimals">Your Animals</a></li>
                    <li><a href="/feedingfGraphs">Animal Reports</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Manager-->
            <li><a id="manager" href="#"></a>
                <ul>
                    <li><a href="/manageEmployees">Manage Employees</a></li>
                    <li><a href="/salesOverview">Sales Overview</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a id='login' href="/login">Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>


    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/visit-1.jpg" alt="Lion Picture">
    </div>

    <p class="header">Hours & Location</p>
    <br><br>

    <div class="row">
        <div class="col-6 hours" style="padding-left: 200px">
            <ul>
                <li><p class="sectionhead">Regular Hours</p></li>
                <li>January 2 - March 15  |  9am - 4pm </li>
                <li>March 16 - October 15  |  9am - 6pm</li>
                <li>October 16 - December 31  |  9am - 4pm</li>
            </ul>
        </div>

        <div class="col-6 hours" style="padding-right: 200px">
            <ul>
                <li><p class="sectionhead">Holiday Hours</p></li>
                <li>The zoo will be closed on Thanksgiving Day, Christmas Day, and New Years Day.</li>
                <li>Limited hours for Christmas Eve and New Years Eve.</li>
                <li>Check here for unannounced closings. </li>
            </ul>
        </div>
    </div>

    <br><br>

    <hr>

    <br> <br>
    <div class="row">
        <div class="col-12 location">
            <ul>
                <li><p class="sectionhead">Location</p></li>
                <li>The zoo is located adjacent to the University of Houston.</li>
                <li>4800 Calhoun Rd. Houston, TX 77004</li>
                <li>
                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                    <div style='overflow:hidden;height:400px;width:600px;'>
                        <div id='gmap_canvas' style='height:400px;width:600px;'>  </div>
                        <div>
                            <small><a href="http://embedgooglemaps.com">embed google maps</a></small>
                        </div>
                        <div>
                            <small><a href="http://freedirectorysubmissionsites.com/">free web directories</a></small>
                        </div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
                    </div>
                    <script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(29.7203238,-95.3435187),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(29.7203238,-95.3435187)});infowindow = new google.maps.InfoWindow({content:'<strong>UH Zoo</strong><br>4800 Calhoun Rd. Houston, TX 77004<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
                    </script>
                </li>
            </ul>
        </div>
    </div>

    <br><br><br>

<!--Javascript starts here-->
    <script>
        var today = new Date().toDateString();
        document.getElementById('date').innerHTML = 'Events for ' + today
    </script>

</body>

<footer>
    <div class="row">

        <div class="col-4 f-design">
            <span style="color: mediumvioletred; font-size:13pt; text-align: right;"><br> <span style="padding-left: 20px;"> ACCREDITED BY</span></span> <br>
            <img width="200" height="120" src="http://i1042.photobucket.com/albums/b422/txusa50/FotoFlexer_Photo_zpsgzmxbj4s.jpg">
        </div>

        <div class="col-4 f-design2">
            <!--<span style="color: mediumvioletred; font-size: 13pt; text-align: center;"><br><span style="padding-left:75px;"></span>CONNECT</span><br>-->
            <a href="https://www.twitter.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/twitterInWhitesmoke_zpsltnzcg8l.jpg"></a>
            <a href="http://www.facebook.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/facebookInWhitesmoke_zps7w78u6xe.jpg"></a>
            <a href="http://www.pinterest.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/pinterestInWhitesmoke_zpsdjjdajjt.jpg"></a>
            <a href="http://www.youtube.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/youtubeInwhitesmoke_zpseknlp7s5.jpg"></a>
            <a href="http://www.instagram.com/Hu-manateeZoo"><img src="http://i1042.photobucket.com/albums/b422/txusa50/instagramInWhitesmoke_zpszsrboowz.jpg"></a>
        </div>

        <div class="col-4 f-design3">
            <span style="color: mediumvioletred; font-size: 13pt;"><br>OUR LOCATION</span><br>
            <span style="color: midnightblue; font-size: 14pt; font-family: Ubuntu, sans-serif;">The Hu-manatee Zoo<br>
            4800 Calhoun Rd.<br>
            Houston, TX 77004<br>
            (713) 743-1010</span>
        </div>

    </div>
</footer>
</html>