<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Animals</title>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

    <link rel="stylesheet" type="text/css" href="static/stylesheets/yourAnimals.css">
    <script src="static/javascripts/cookieManagement.js"></script>
    <script src="static/javascripts/shoppingCartCookie.js"></script>
</head>


<body onload="addTab();">
    <!--NavBar -->
    <nav id="navbar">
        <ul>
            <li><a class="title" href="/">Hu-manatee Zoo </a></li>
            <!--Customer-->
            <li><a id="customer" href="#"></a>
                <ul>
                    <li><a href="/editInfo">Edit Info</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/shoppingCart">Cart</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Keeper/Vet-->
            <li><a id="keepVet" href="#"></a>
                <ul>
                    <li><a href="/yourAnimals">Your Animals</a></li>
                    <li><a href="/feedingfGraphs">Animal Reports</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <!--Manager-->
            <li><a id="manager" href="#"></a>
                <ul>
                    <li><a href="/manageEmployees">Manage Employees</a></li>
                    <li><a href="/salesOverview">Sales Overview</a></li>
                    <li><a href="javascript:logOut();">Log out</a></li>
                </ul>
            </li>
            <li><a href="/memberInfo"> Membership </a>
                <ul>
                    <li><a href="/memberInfo">Member Info</a></li>
                    <li><a href="/memberFAQ">Member FAQ</a></li>
                    <li><a id='login' href="/login">Join/Log in</a></li>
                </ul>
            </li>
            <li class="active"><a href="/visit"> Visit Us </a>
                <ul>
                    <li><a href="/visit">Hours & Location</a></li>
                    <li><a href="/ticketInfo">Ticket Info</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Park Map</a></li>
                    <li><a href="/visitFAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="/animals"> Animals </a>
                <ul>
                    <li><a href="/mammals">Mammals</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/aquatic">Aquatic</a></li>
                    <li><a href="/reptiles">Reptiles</a></li>
                    <li><a href="/amphibians">Amphibians</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="imageContainer">
        <img class ="fillWidth" src="static/images/chameleon.jpg" alt="Chameleon Picture">
    </div>

    <p class="header">Your Animals</p>
    <br>

    <table>
        <tr>
            <td>Tag number:</td>
            <td id="tag_number"></td>
            <td>Scientific name: </td>
            <td id="scientific_name"></td>
        </tr>

        <tr class="group">
            <td>
                <ul>
                    <li>Gender: </li>
                    <li id="gender"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Blood type: </li>
                    <li id="blood_type"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Diet: </li>
                    <li id="diet"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Behavior: </li>
                    <li id="behavior"></li>
                </ul>
            </td>

        </tr>

        <tr>
            <td>Last chekup: </td>
            <td id="last_checkup"></td>
            <td>Date of birth: </td>
            <td id="date_of_birth"></td>
        </tr>

        <tr>
            <td>Date of arrival: </td>
            <td id="date_of_arrival"></td>
            <td>Date_of_departure: </td>
            <td id="date_of_departure"></td>
        </tr>

        <tr>
            <td>Date deceased: </td>
            <td id="date_deceased"></td>
            <td>Population: </td>
            <td id="population"></td>
        </tr>

        <!--*tag_number-->
        <!--*gender-->
        <!--*last_checkup-->
        <!--*date_of_birth-->
        <!--*date_of_arrival-->
        <!--*date_deceased-->
        <!--*date_of_departure-->
        <!--*blood_type-->
        <!--species = science name-->
        <!--habitat_id-->

        <!--*scientific name-->
        <!--*population-->
        <!--natural_habitat-->
        <!--*diet-->
        <!--*behavior-->

    </table>



</body>
</html>