* {
    margin: 0;
    padding: 0;
}

/*Navbar*/
.navbar ul {
    list-style-type: none;
    overflow: hidden;

    /*fixed top*/
    position: fixed;
    z-index: 1; /*enables links*/
    top: 0;
    width: 100%;

    /*background */
    background-color: rgba(255, 255, 255,0.60);
    border: none;
}

.navbar li {
    float: right;
}

.navbar li:first-child {
    float: left;
}

.navbar li a {
    display: block;
    color: mediumvioletred;
    text-align: center;
    text-decoration: none;
    padding: 20px 35px 10px 35px;
    margin: 10px;
    font-size: 20px;
    font-family: Ubuntu, sans-serif;
    /*font-weight: bold;*/
}

.navbar li:first-child a{
    font-size: 35px;
    padding: 10px 20px 10px 30px;
}

img {

}